#card-aniversario{
	background-color: #fff;
	box-shadow: 5px;
	border-radius: 10px;
	margin-left: 1%;
	margin-right: 1%;
}

#card-aniversario #image-aniversario{
	margin-top: 10%;
}

#card-aniversario #texto-aniversario h4{
	font-weight: bolder;
}

#card-aniversario p{
	font-size: .8em;

}